body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timer {
  background-color:rgb(85, 8, 228);
  text-align: center;
  width: 50vh;
  height: 35%;
  margin-bottom: 15vh;
}

.app {
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content:center;
  align-items:center;
}
